/********** Light Theme CSS **********/
:root {
    --primary: #00BCD4; /* Cyan blue */
    --secondary: #FBA504;
    --light: #FFFFFF;
    --dark: #04000B;
}

/* Override Bootstrap variables */
:root {
    --bs-primary: #00BCD4; /* Cyan blue */
}

/* Additional light theme specific styles can be added here */